# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head(2)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [10]:
# Your code here:
salaries['Salary or Hourly'].count()

33183

In [11]:
salaries['Salary or Hourly'].unique()

array(['Salary', 'Hourly'], dtype=object)

In [12]:
salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:
departments = salaries.groupby('Department')['Name'].count().reset_index()
departments

               Department   Name
0            ADMIN HEARNG     39
1           ANIMAL CONTRL     81
2                AVIATION   1629
3       BOARD OF ELECTION    107
4         BOARD OF ETHICS      8
5           BUDGET & MGMT     46
6               BUILDINGS    269
7        BUSINESS AFFAIRS    171
8              CITY CLERK     84
9            CITY COUNCIL    411
10  COMMUNITY DEVELOPMENT    207
11                   COPA    116
12       CULTURAL AFFAIRS     65
13           DISABILITIES     28
14                   DoIT     99
15       FAMILY & SUPPORT    615
16                FINANCE    560
17                   FIRE   4641
18       GENERAL SERVICES    980
19                 HEALTH    488
20        HUMAN RELATIONS     16
21        HUMAN RESOURCES     79
22          INSPECTOR GEN     87
23                    LAW    407
24      LICENSE APPL COMM      1
25         MAYOR'S OFFICE     85
26                   OEMC   2102
27                 POLICE  13414
28           POLICE BOARD      2
29            PROCUREMENT     92
30         PUBLIC LIBRARY   1015
31          STREETS & SAN   2198
32             TRANSPORTN   1140
33              TREASURER     22
34            WATER MGMNT   1879

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [13]:
# Your code here:
from scipy.stats import ttest_1samp

In [19]:
# H0: hourly wage = 30 $/h
hourly_rate = salaries['Hourly Rate'].dropna()
test_hr  = ttest_1samp(hourly_rate, 30)
print(f't-value: {test_hr.statistic}')
print(f'p-value: {test_hr.pvalue}')
print(f'p-value Could we reject the null hypotesis?: {0.05 > test_hr.pvalue}')

t-value: 20.6198057854942
p-value: 4.3230240486229894e-92
p-value Could we reject the null hypotesis?: True

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [20]:
# Your code here:

# H0: year salary <= 86000 $/year
annual_salary = salaries['Annual Salary'].dropna()
test_as  = ttest_1samp(annual_salary, 86000)
print(f't-value: {test_as.statistic}')
print(f'p-value: {test_as.pvalue/2}')
print(f'p-value Could we reject the null hypotesis?: {0.05 > test_as.pvalue/2}')

t-value: 5.932870515690814
p-value: 1.507879259958193e-09
p-value Could we reject the null hypotesis?: True

Using the `crosstab` function, find the department that has the most hourly workers.

In [24]:
# Your code here:
cross_df = pd.crosstab(salaries['Department'], salaries['Salary or Hourly'])
cross_df.sort_values(by='Hourly', ascending=False)['Hourly'].head(1)

Department
STREETS & SAN    1862
Name: Hourly, dtype: int64

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [32]:
# Your code here:
#H0:  hourly wage >= 35 $/h
hr_dep_ss = salaries[salaries['Department']=='STREETS & SAN']['Hourly Rate'].dropna()
test_dep_ss  = ttest_1samp(hr_dep_ss, 35)
print(f't-value: {test_dep_ss.statistic}')
print(f'p-value: {test_dep_ss.pvalue/2}')
print(f'p-value Could we reject the null hypotesis?: {0.05 > test_dep_ss.pvalue/2}')

t-value: -9.567447887848152
p-value: 1.6689265282353859e-21
p-value Could we reject the null hypotesis?: True

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [38]:
from scipy.stats import t
from scipy import stats

In [39]:
# Your code here:
dof = len(salaries['Hourly Rate'].dropna()) - 1
mean      = salaries['Hourly Rate'].mean()
std_error = stats.sem(salaries['Hourly Rate'].dropna(), axis=0, ddof=dof)

interval = t.interval(alpha = 0.95, 
                      df = dof, 
                      loc = mean, 
                      scale = std_error
                     )
interval

(9.04624854199498, 56.53086689056758)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [44]:
# Your code here:
df_police = salaries[salaries['Department'] == 'POLICE']

dof_police = len(df_police['Annual Salary'].dropna()) - 1
mean_police = df_police['Annual Salary'].mean()
std_police  = stats.sem(df_police['Annual Salary'].dropna(), 
                        axis=0, 
                        ddof=dof_police)
interval = t.interval(alpha = 0.95, 
                      df = dof_police, 
                      loc=mean, 
                      scale=std)
interval

(9.046207433300285, 56.53090799926228)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [45]:
from statsmodels.stats.proportion import proportions_ztest

In [54]:
# Your code here:
test_hyp_prop = \
proportions_ztest(count=sum(cross_df['Hourly']), 
                  nobs=salaries['Name'].count(), 
                  value=0.25
                 )

print(f'Could we reject the null hypotesis?: {0.05 > test_hyp_prop[1]}')

Could we reject the null hypotesis?: True